.App {
  text-align: center;
}
#Max{
  max-width: 99.1% !important;
}
.header{
  background: rgba(0, 0, 0, 0.3);
  color: #ffff;
  text-align: center;
  padding: 1rem;
  max-height: 6rem;
  
}
.header a{
  text-decoration: none;
  color: #ffff !important;
  

}
.LinkAe{
  margin-right: 3rem;
  font-size: 1.5rem;
}
.LinkA{
  margin-left: 2rem;
  margin-right: 3rem;
  font-size: 1.5rem;
}
.App-logo{
  margin-left: 2rem;
  margin-right: 3rem;
  max-width: 5rem;
  max-height: 5rem;
}
/*-------------------------------------------------------------------------------/*
/* variables de color */
.rgbcolor{
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.rgbcolor1{
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.color1{
  background: #6941C6;
}
.color2{
  color: #026AA2 !important;
}
/* success */
.color3{
  background: #027A48;
}
/* bg-color */
.colorbg{
  background: #101828;
}
.colorv{
  background: #12b76a;
}
.gradient{
  background: -webkit-linear-gradient(to right, #384558, #465366); 
  background: linear-gradient(to right, #384558, #465366);
}
.orange{
  background:#EC4A0A;
}
.fondo{
  background:rgba(0, 0, 0, 0.3);
}
body{
  background: #f1f1f1!important;
}

.body{    
  background: rgb(16, 24, 40);
}


a{
  text-decoration: none;
  
}
#but{
  position: relative;
  top: 5px;
}
#but-2{
  position: relative;
  top: -3px;
}
.faceboo{
  margin-top: 4rem;
  margin-left: 2rem;
  
  border-color: none;
}
footer,.piePagina{
  color: #ffffff !important;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
